// Font families
$primary-font-family: 'Raleway', sans-serif;

// Core font colors
$dark-font-primary: rgba(0, 0, 0, 0.87);
$dark-font-secondary: rgba(0, 0, 0, 0.54);
$light-font-primary: rgba(255, 255, 255, 1);
$light-font-secondary: rgba(255, 255, 255, 0.7);

// Special font colors
$ink-font: rgba(150, 150, 150, 1);
