@import 'variables';

.jl-editor {
    outline: 0px solid transparent;
    margin-bottom: 25px;
}

.jl-editor[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-ph)
}

.jl-editor[contentEditable=true] {
    height: 300px;
    margin-top: 50px;
}

.jl-locked {
    color: $ink-font;
}
