@import 'variables';
@import 'mixins';

$padding: 20px;
$entry-footer-height: 16px;
$trans-time: .2s;

.jl-text {
    height: auto;
    margin-bottom: 5px;
    outline: 0px solid transparent;
    padding: $padding;
    position: relative;
    top: 0px;
    width: 100%;
    word-wrap: break-word;
    @include transition(color $trans-time ease-out, box-shadow $trans-time ease-out, opacity $trans-time ease-out, top $trans-time ease-out);
}

.jl-editor[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-ph)
}

.jl-editor {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 100px;
}

.jl-editor:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.jl-locked {
    color: $ink-font;
    padding-bottom: $padding - $entry-footer-height;
}

.jl-locked:hover {
    color: $dark-font-primary;
    padding-bottom: $padding - $entry-footer-height;
}

// Transition styling
.jl-entry-post-enter {
  opacity: 0.05;
  top: 5px;
}

.jl-entry-post.jl-entry-post-active {
  @include transition(opacity $trans-time ease-in, top $trans-time ease-out);
}

// Entry footer styling
.jl-entry-footer {
    color: $dark-font-secondary;
    font-size: 12px;
    height: $entry-footer-height;
    opacity: 0;
    @include transition(opacity $trans-time ease-out);
}

.jl-entry-footer-active {
    font-size: 12px;
    opacity: 1;
}

// Entry scrollable box
.jl-entry-scrollable {
    height: 450px;
    overflow: scroll;
}
