body {
    font-family: 'Raleway', sans-serif;

    .jl-container {
        margin: 0 auto 0 auto;
        padding: 50px 0 50px 0;
        width: 900px;

        .jl-header {
            margin-bottom: 128px;

            .jl-logo {
                width: 36px;
            }
        }

        .jl-content, .ql-container {
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            padding: 0;
        }
    }
}
