@import 'editor';
@import 'variables';

body {
    font-family: $primary-font-family;

    .jl-container {
        padding: 50px;

        .jl-header {
            margin-bottom: 128px;

            .jl-logo {
                width: 36px;
            }
        }

        .jl-content {
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            margin: 0 auto 0 auto;
            padding: 0;
            width: 900px;
        }
    }
}
